<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curse Generator Game</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Curse Generator Game!</h1>
    <p class="curse">{{ curse }}</p>
    <button id="generate-button">Generate Curse</button>
    <p style="font-size: 14px; color: rgb(32, 31, 31); text-align: center;">Made by Marvel</p>
  </div>

  <script>
    const button = document.getElementById("generate-button");
    const curseText = document.querySelector(".curse");

    button.addEventListener("click", async () => {
      const response = await fetch("/generate_curse");
      const data = await response.json();
      curseText.textContent = data.curse;
    });
  </script>
</body>
</html>
